* {margin: 0;padding: 0;border: 0;background:transparent;outline:none;text-decoration:none;outline:none;font-family:inherit;box-sizing:border-box;
}

ol,
ul,
li {
  display:block;
  list-style:none;
}

table {
  border-collapse: collapse;
  border-spacing:0;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button input textarea select {
    appearance: none !important;
    -webkit-appearance: none !important; 
    border-radius: 0;
}

/* ======= CSS RESET ======================*/

:root {
    --primary: #242d38;
    --secondary: #efd592;
}

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

body {
    background-color: var(--primary);
    color: var(--secondary);
}

header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;

    border-bottom: var(--secondary) 2px solid;

}

#fixed {
    z-index: 1;
    background-color: var(--primary);
    overflow: hidden;
}

h1 {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);

    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.material-icons.md-24 {
    display:flex;
    flex-direction: column;
    align-items: flex-end;

    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
}

#root {
    max-width: 1000px;
    
    display: grid;
    grid-template-columns: auto auto;
    gap: 90px 20px;
    margin: auto;
    margin-top: 100px;
}

.data-card {
    position: relative;

    width: 420px;
    height: 460px;

    padding: 40px;
    margin: auto;

    background-color: var(--secondary);
    color: var(--primary);
    font-weight: 400;
}

.data-card::before {
    position: absolute;
    top: -20px; 
    left: 50%; 
    display: flex; 
    align-items: center;
    justify-content: center;
    content: attr(data-index);
    
    width: 40px; 
    height: 40px;
    
    border: var(--secondary) 1px solid;
    background-color: var(--primary);
    color: var(--secondary);
    font-size: 24px;
}

.data-card h2 {
    font-size: 36px;
    padding: 5px 0;
}

.data-card h4 {
    font-size: 18px;
    border-bottom: var(--primary) 1px solid;
    padding: 5px 0;
}

.data-card h5 {
    font-size: 18px;
    padding: 5px 0;
}

button {
    width: calc(100% - 80px);
    height: 60px;

    position: absolute;
    bottom: -30px;
    border: var(--secondary) 2px solid;

    background-color: var(--primary);
    color: var(--secondary);
    font-size: 14px;
}

button:hover {
    border: var(--primary) 2px solid;
    background-color: var(--secondary);
    color: var(--primary);
}


@media screen and (max-width:900px) {
    #root {
        grid-template-columns: auto;
    }
}

@media screen and (max-width:420px) {
    h1 {
        font-size: 16px;
    }
    .data-card {
        width: 70vw;
    }
    
}
